# Pandas
* Sourse : <https://wizardforcel.gitbooks.io/python-quant-uqer/content/9.html>

In [6]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
print(pd.__version__)

0.23.4

## Series

In [29]:
# array
a = np.random.randn(5)
    # Return a sample (or samples) from the “standard normal” distribution.
print(a)

# create series
s = Series(a)
print(s)

s = Series(np.array([1,2,3,4,5]),index = ['a','b','c','d','e'])
print(s)
print(s.index)

s = Series(np.random.randint(3),index = ['1','2','3'],name = 'test_series')
print(s)
print(s.name)

s = Series(4.0,index = ['a','b','c'])
print(s)

[-0.65049018  0.98622307  0.04720816  0.62922544 -1.12186431]
0   -0.650490
1    0.986223
2    0.047208
3    0.629225
4   -1.121864
dtype: float64
a    1
b    2
c    3
d    4
e    5
dtype: int32
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
1    1
2    1
3    1
Name: test_series, dtype: int64
test_series
a    4.0
b    4.0
c    4.0
dtype: float64

In [30]:
# create series with dictionary
d = {'a':1,'b':2,'c':3}
s = Series(d)
print(s)

s = Series(d,index = ['b','c','d','a'])
print(s)

a    1
b    2
c    3
dtype: int64
b    2.0
c    3.0
d    NaN
a    1.0
dtype: float64

In [61]:
s = Series(np.random.randint(low = 0,high = 20,size = 5),index = ['a','b','c','d','e'])
print(s)
print(s[0])
print(s[::2])
print(s[[1,3,4]])
print(s[['a','e']])
print(s[s>5])

a    14
b     7
c     5
d    17
e     9
dtype: int32
14
a    14
c     5
e     9
dtype: int32
b     7
d    17
e     9
dtype: int32
a    14
e     9
dtype: int32
a    14
b     7
d    17
e     9
dtype: int32

## Dataframe
* Combination of many Series
* Stored different data type

In [7]:
# create Dataframe
d = {'one': Series([1., 2., 3.], index=['a', 'b', 'c']), 'two': Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}
df = DataFrame(d)
print(df)
df = DataFrame(d, index=['r', 'd', 'a'], columns=['two', 'three'])
print(df)

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0
   two three
r  NaN   NaN
d  4.0   NaN
a  1.0   NaN

In [8]:
d = {'one':Series([1,2,3],index = ['a','b','c']), 'two':Series([2,4,6,8],index = ['a','e','i','o']), 'three':Series([5,5,5],index = ['d','e','f'])}
df = DataFrame(d)
print(df)
print(df.index)
print(df.values)
print(df.columns)

df = DataFrame(df.values,index = [str(i+5) for i in range(len(df.index))])
df

   one  two  three
a  1.0  2.0    NaN
b  2.0  NaN    NaN
c  3.0  NaN    NaN
d  NaN  NaN    5.0
e  NaN  4.0    5.0
f  NaN  NaN    5.0
i  NaN  6.0    NaN
o  NaN  8.0    NaN
Index(['a', 'b', 'c', 'd', 'e', 'f', 'i', 'o'], dtype='object')
[[ 1.  2. nan]
 [ 2. nan nan]
 [ 3. nan nan]
 [nan nan  5.]
 [nan  4.  5.]
 [nan nan  5.]
 [nan  6. nan]
 [nan  8. nan]]
Index(['one', 'two', 'three'], dtype='object')

      0    1    2
5   1.0  2.0  NaN
6   2.0  NaN  NaN
7   3.0  NaN  NaN
8   NaN  NaN  5.0
9   NaN  4.0  5.0
10  NaN  NaN  5.0
11  NaN  6.0  NaN
12  NaN  8.0  NaN

In [10]:
df = DataFrame()
a = Series(range(5))
b = Series(np.linspace(4, 20, 5))
df = pd.concat([a, b], axis=1)
df

   0     1
0  0   4.0
1  1   8.0
2  2  12.0
3  3  16.0
4  4  20.0

In [16]:
# create dataframe 
index = ['alpha', 'beta', 'gamma', 'delta', 'eta']
a = DataFrame([8 for i in range(len(index))],index = index)
print(a)
b = DataFrame([[7 for i in range(len(index))]],index = [index[1]])
print(b)

       0
alpha  8
beta   8
gamma  8
delta  8
eta    8
      0  1  2  3  4
beta  7  7  7  7  7

In [19]:
df = DataFrame()
index = ['alpha', 'beta', 'gamma', 'delta', 'eta']
for i in range(5):
    a = DataFrame([np.linspace(i, 5*i, 5)], index=[index[i]])
    df = pd.concat([df, a], axis=0)
df

         0    1     2     3     4
alpha  0.0  0.0   0.0   0.0   0.0
beta   1.0  2.0   3.0   4.0   5.0
gamma  2.0  4.0   6.0   8.0  10.0
delta  3.0  6.0   9.0  12.0  15.0
eta    4.0  8.0  12.0  16.0  20.0

In [66]:
df = DataFrame()
index = ['alpha', 'beta', 'gamma', 'delta', 'eta']
for i in range(5):
    a = DataFrame([np.linspace(i, 5*i, 5)], index=[index[i]])
    df = pd.concat([df, a], axis=0)
# select row
print(df.iloc[2])
print(df.loc['eta'])

0     2.0
1     4.0
2     6.0
3     8.0
4    10.0
Name: gamma, dtype: float64
0     4.0
1     8.0
2    12.0
3    16.0
4    20.0
Name: eta, dtype: float64
beta     2.0
gamma    4.0
Name: 1, dtype: float64

In [68]:
#select column
df = DataFrame()
index = ['alpha', 'beta', 'gamma', 'delta', 'eta']
for i in range(5):
    a = DataFrame([np.linspace(i, 5*i, 5)], index=[index[i]])
    df = pd.concat([df, a], axis=0)
print(df[1])
print(df[[1,2,4]])
df.columns = ['a','b','c','d','e']
print(df)
print(df.b)
print(df['b'])

alpha    0.0
beta     2.0
gamma    4.0
delta    6.0
eta      8.0
Name: 1, dtype: float64
         1     2     4
alpha  0.0   0.0   0.0
beta   2.0   3.0   5.0
gamma  4.0   6.0  10.0
delta  6.0   9.0  15.0
eta    8.0  12.0  20.0
         a    b     c     d     e
alpha  0.0  0.0   0.0   0.0   0.0
beta   1.0  2.0   3.0   4.0   5.0
gamma  2.0  4.0   6.0   8.0  10.0
delta  3.0  6.0   9.0  12.0  15.0
eta    4.0  8.0  12.0  16.0  20.0
alpha    0.0
beta     2.0
gamma    4.0
delta    6.0
eta      8.0
Name: b, dtype: float64
alpha    0.0
beta     2.0
gamma    4.0
delta    6.0
eta      8.0
Name: b, dtype: float64

In [69]:
# select item 
print(df['b']['eta'])
print(df.b[4])

8.0
8.0

In [73]:
#select dataframe
print(df[1:3])
bool_l = [True,True,True,False,False]
print(df[bool_l])

# select col & rows
print(df[['b',"a"]].iloc[[1,3]])

         a    b    c    d     e
beta   1.0  2.0  3.0  4.0   5.0
gamma  2.0  4.0  6.0  8.0  10.0
         a    b    c    d     e
alpha  0.0  0.0  0.0  0.0   0.0
beta   1.0  2.0  3.0  4.0   5.0
gamma  2.0  4.0  6.0  8.0  10.0
         b    a
beta   2.0  1.0
delta  6.0  3.0