# Working with data

In [1]:
import pandas as pd

## Cross-Tabulation

In [7]:
import webbrowser
web = 'https://github.com/jmportilla/Udemy-notes/blob/master/Lec%2046%20-%20Cross-Tabulation.ipynb'
webbrowser.open(web)

True

In [8]:
dframe = pd.read_clipboard()
dframe

   Sample Animal Intelligence
0       1    Dog        Smart
1       2    Dog        Smart
2       3    Cat         Dumb
3       4    Cat         Dumb
4       5    Dog         Dumb
5       6    Cat        Smart

In [9]:
# Now we can create a cross-tabulation table, which is basically just a frequency table
pd.crosstab(dframe.Animal,dframe.Intelligence,margins=True)

Intelligence  Dumb  Smart  All
Animal
Cat              2      1    3
Dog              1      2    3
All              3      3    6