# pandas

## Dataframe

In [10]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [2]:
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [4]:
website = 'http://pandas.pydata.org/pandas-docs/dev/generated/pandas.DataFrame.html'
webbrowser.open(website)

True

In [99]:
# copy dataframe
nfl_frame = pd.read_clipboard()

In [100]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North
3,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East
4,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East

In [101]:
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Division'],
      dtype='object')

In [102]:
# Lets see some specific data columns
DataFrame(nfl_frame,columns=['Team','First NFL Season','GP'])

# What happens if we ask for a column that doesn't exist?
DataFrame(nfl_frame,columns=['Team','First NFL Season','GP','Stadium'])

                      Team  First NFL Season     GP  Stadium
0           Dallas Cowboys              1960    898      NaN
1            Chicago Bears              1920  1,386      NaN
2        Green Bay Packers              1921  1,352      NaN
3  New England Patriots[b]              1960    900      NaN
4           Miami Dolphins              1966    816      NaN

In [103]:
# select columns
print(nfl_frame.Team)
nfl_frame['Team']

0             Dallas Cowboys
1              Chicago Bears
2          Green Bay Packers
3    New England Patriots[b]
4             Miami Dolphins
Name: Team, dtype: object

0             Dallas Cowboys
1              Chicago Bears
2          Green Bay Packers
3    New England Patriots[b]
4             Miami Dolphins
Name: Team, dtype: object

In [104]:
# We can retrieve rows through indexing
nfl_frame.index = [i for i in 'abcde']

# by index location
print(nfl_frame.iloc[3])

# by index
nfl_frame.loc['e']

Rank                                      4
Team                New England Patriots[b]
GP                                      900
Won                                     500
Lost                                    391
Tied                                      9
Pct.                                  0.561
First NFL Season                       1960
Division                           AFC East
Name: d, dtype: object

Rank                             5
Team                Miami Dolphins
GP                             816
Won                            452
Lost                           360
Tied                             4
Pct.                         0.556
First NFL Season              1966
Division                  AFC East
Name: e, dtype: object

In [105]:
l = [i for i in nfl_frame.columns]
l.append('Stadium')
nfl_frame = DataFrame(nfl_frame,columns=l)
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium
a,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East,NaN
b,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North,NaN
c,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North,NaN
d,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East,NaN
e,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East,NaN

In [109]:
nfl_frame['Stadium'] = "Levi's Stadium"
print(nfl_frame)
nfl_frame['Stadium'] = np.arange(5)
nfl_frame

   Rank                     Team     GP  Won  Lost  Tied   Pct.  \
a     1           Dallas Cowboys    898  512   380     6  0.573
b     2            Chicago Bears  1,386  761   583    42  0.564
c     3        Green Bay Packers  1,352  743   571    38  0.564
d     4  New England Patriots[b]    900  500   391     9  0.561
e     5           Miami Dolphins    816  452   360     4  0.556

   First NFL Season   Division         Stadium
a              1960   NFC East  Levi's Stadium
b              1920  NFC North  Levi's Stadium
c              1921  NFC North  Levi's Stadium
d              1960   AFC East  Levi's Stadium
e              1966   AFC East  Levi's Stadium

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium
a,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East,0
b,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North,1
c,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North,2
d,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East,3
e,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East,4

In [110]:
stadiums = Series(["Levi's Stadium","AT&T Stadium"],index=['b','d'])
nfl_frame['Stadium'] = stadiums
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium
a,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East,NaN
b,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North,Levi's Stadium
c,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North,NaN
d,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East,AT&T Stadium
e,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East,NaN