# pandas

## data alignment

In [2]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series
import webbrowser

In [5]:
# series
ser1 = Series(np.arange(5),index = [i for i in 'abcde'])
ser2 = Series(np.random.randn(3), index = [i for i in 'abc'])
ser1+ser2

a    0.739603
b   -0.170583
c    2.175744
d         NaN
e         NaN
dtype: float64

In [8]:
# dataframe
dframe1 = DataFrame(np.arange(4).reshape(2,-1),index = ['NYC','LA'],columns = list('AB'))
dframe2 = DataFrame(np.arange(9).reshape(3,-1),index = ['NYC','SF','LA'],columns = list('ADC'))
dframe1 + dframe2

       A   B   C   D
LA   8.0 NaN NaN NaN
NYC  0.0 NaN NaN NaN
SF   NaN NaN NaN NaN

In [10]:
# add
dframe1.add(dframe2,fill_value=0)

       A    B    C    D
LA   8.0  3.0  8.0  7.0
NYC  0.0  1.0  2.0  1.0
SF   3.0  NaN  5.0  4.0

In [19]:
# Create a Series from DataFrame's row 
dframe = DataFrame(np.random.randn(9).reshape(3,-1),index = ['NYC','SF','LA'],columns = list('ABC'))
ser1 = dframe.iloc[1]
print(dframe)
print(ser1)

            A         B         C
NYC  0.685862 -0.009069 -0.337423
SF   0.178311  0.733239  0.320542
LA   0.694670 -0.673263  0.126111
A    0.178311
B    0.733239
C    0.320542
Name: SF, dtype: float64

In [21]:
# Now we can use arithmetic operations
dframe - ser1

            A         B         C
NYC  0.507551 -0.742308 -0.657965
SF   0.000000  0.000000  0.000000
LA   0.516359 -1.406502 -0.194431

##  Rank and Sort

In [3]:
web = 'https://github.com/jmportilla/Udemy-notes/blob/master/Lec%2021%20-%20Rank%20and%20Sort.ipynb'
webbrowser.open(web)

True

In [31]:
ser1 = Series(np.arange(5),index = [i for i in 'atcje'])
print(ser1)
print(ser1.sort_index())

# https://pandas.pydata.org/pandas-docs/version/0.18/generated/pandas.Series.order.html
print(ser1.sort_values())

a    0
t    1
c    2
j    3
e    4
dtype: int32
a    0
c    2
e    4
j    3
t    1
dtype: int32
a    0
t    1
c    2
j    3
e    4
dtype: int32

In [32]:
from numpy import random
ser = Series(random.randn(10))
ser

0    0.139023
1   -0.186929
2   -1.504777
3   -0.460875
4    1.306174
5    0.180623
6    0.638718
7   -0.915575
8    0.046161
9   -0.600246
dtype: float64

In [38]:
print(ser.rank())
print(ser.sort_values())

0     7.0
1     5.0
2     1.0
3     4.0
4    10.0
5     8.0
6     9.0
7     2.0
8     6.0
9     3.0
dtype: float64
2   -1.504777
7   -0.915575
9   -0.600246
3   -0.460875
1   -0.186929
8    0.046161
0    0.139023
5    0.180623
6    0.638718
4    1.306174
dtype: float64