# Pandas

## Index Objects

In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series
from numpy import random
import webbrowser

In [18]:
web = 'https://github.com/jmportilla/Udemy-notes/blob/master/Lec%2017%20-Reindexing.ipynb'
webbrowser.open(web)

True

In [2]:
my_ser = Series([1,2,3,4,5,6,7],index = [i for i in 'ABCDEFG'])
print(my_ser.index[::2])

# What happens if we try to change an index value?
my_index[0] = 'Z'

Index(['A', 'C', 'E', 'G'], dtype='object')

NameError: name 'my_index' is not defined

## reindex

In [3]:
my_ser1 = my_ser.reindex([i for i in 'abcdABCD'])
print(my_ser1)

my_ser1 = my_ser.reindex([i for i in 'abcdABCD'],fill_value=0)
print(my_ser1)

a    NaN
b    NaN
c    NaN
d    NaN
A    1.0
B    2.0
C    3.0
D    4.0
dtype: float64
a    0
b    0
c    0
d    0
A    1
B    2
C    3
D    4
dtype: int64

In [19]:
# Using a particular method for filling values
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
print(ser3)

ser3.reindex(range(15),method='ffill')

0        USA
5     Mexico
10    Canada
dtype: object

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [4]:
dframe = DataFrame(random.randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])
print(dframe)

# reindex rows
print(dframe.reindex(['A','B','C','D','E','F']))

# reindex columns
new_col = ['col1','col2','col3','col4','col5','col6']
print(dframe.reindex(columns = new_col))

dframe2 = dframe.reindex(['A','B','C','D','E','F'],columns = new_col)
dframe2

       col1      col2      col3      col4      col5
A -0.109693 -1.162242 -0.019288  0.576460 -1.653172
B -0.103465 -0.232724 -0.437033 -0.608157  0.013577
D  0.829397  0.810393 -0.007649 -0.146534  0.337381
E  0.635786 -1.437012  0.970975  1.037691  1.255393
F -1.563597 -1.536094  1.952135 -0.248767 -0.947789
       col1      col2      col3      col4      col5
A -0.109693 -1.162242 -0.019288  0.576460 -1.653172
B -0.103465 -0.232724 -0.437033 -0.608157  0.013577
C       NaN       NaN       NaN       NaN       NaN
D  0.829397  0.810393 -0.007649 -0.146534  0.337381
E  0.635786 -1.437012  0.970975  1.037691  1.255393
F -1.563597 -1.536094  1.952135 -0.248767 -0.947789
       col1      col2      col3      col4      col5  col6
A -0.109693 -1.162242 -0.019288  0.576460 -1.653172   NaN
B -0.103465 -0.232724 -0.437033 -0.608157  0.013577   NaN
D  0.829397  0.810393 -0.007649 -0.146534  0.337381   NaN
E  0.635786 -1.437012  0.970975  1.037691  1.255393   NaN
F -1.563597 -1.536094  1.952135 -0.248767 -0.947789   NaN

       col1      col2      col3      col4      col5  col6
A -0.109693 -1.162242 -0.019288  0.576460 -1.653172   NaN
B -0.103465 -0.232724 -0.437033 -0.608157  0.013577   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.829397  0.810393 -0.007649 -0.146534  0.337381   NaN
E  0.635786 -1.437012  0.970975  1.037691  1.255393   NaN
F -1.563597 -1.536094  1.952135 -0.248767 -0.947789   NaN

## Drop

In [41]:
ser1 = Series(np.arange(3),index = [i for i in 'abc'])
ser1

# drop series
ser1.drop('a')

b    1
c    2
dtype: int32

In [50]:
# drop dataframe
dframe = DataFrame(random.randn(9).reshape(3,-1),index = ['SF','LA','NY'],columns=['pop','size','year'])
print(dframe)
print(np.where(dframe>0,dframe,0))

print(dframe.drop('SF'))
print(dframe.drop('size',axis = 1))

         pop      size      year
SF  0.476050 -1.087625 -1.185861
LA -0.879331  0.025060 -0.986071
NY  0.348561  0.507312 -0.342400
[[0.47604959 0.         0.        ]
 [0.         0.0250602  0.        ]
 [0.34856074 0.50731229 0.        ]]
         pop      size      year
LA -0.879331  0.025060 -0.986071
NY  0.348561  0.507312 -0.342400
         pop      year
SF  0.476050 -1.185861
LA -0.879331 -0.986071
NY  0.348561 -0.342400

## Selecting Entries

In [52]:
import webbrowser
web = 'https://github.com/jmportilla/Udemy-notes/blob/master/Lec%2019%20-%20Selecting%20Entries.ipynb'
webbrowser.open(web)

True

In [67]:
# series
ser1 = Series(np.arange(5),index = [i for i in 'ABCDE'])
ser1 = ser1**2

print(ser1[1])
print(ser1[2:5])
print(ser1['C'])
print(ser1[['A','C','D']])
print(ser1[ser1 > 5])

1
C     4
D     9
E    16
dtype: int32
4
A    0
C    4
D    9
dtype: int32
D     9
E    16
dtype: int32

In [69]:
# dataframe
dframe = DataFrame(np.arange(25).reshape((5,5)),index=['NYC','LA','SF','DC','Chi'],columns=['A','B','C','D','E'])
dframe

      A   B   C   D   E
NYC   0   1   2   3   4
LA    5   6   7   8   9
SF   10  11  12  13  14
DC   15  16  17  18  19
Chi  20  21  22  23  24

In [73]:
print(dframe['B'])
print(dframe[['B','D']])

NYC     1
LA      6
SF     11
DC     16
Chi    21
Name: B, dtype: int32
      B   D
NYC   1   3
LA    6   8
SF   11  13
DC   16  18
Chi  21  23

In [78]:
print(dframe[dframe['B'] > 8])
dframe > 10

      A   B   C   D   E
SF   10  11  12  13  14
DC   15  16  17  18  19
Chi  20  21  22  23  24

         A      B      C      D      E
NYC  False  False  False  False  False
LA   False  False  False  False  False
SF   False   True   True   True   True
DC    True   True   True   True   True
Chi   True   True   True   True   True

In [85]:
# select by index 
print(dframe.iloc[3])
print(dframe.loc['LA'])

A    15
B    16
C    17
D    18
E    19
Name: DC, dtype: int32
A    5
B    6
C    7
D    8
E    9
Name: LA, dtype: int32