# Pandas

## 1、series

In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
obj = Series([1,5,5,5])
obj

0    1
1    5
2    5
3    5
dtype: int64

In [3]:
print(obj.values)
print(obj.index)
obj.index[1]

[1 5 5 5]
RangeIndex(start=0, stop=4, step=1)

1

In [4]:
# create a series with index
ww2_cas = Series([8700000,4300000,3000000,2100000,400000],index=['USSR','Germany','China','Japan','USA'])
print(ww2_cas)

# use index values to select Series values
print(ww2_cas['USA'])

# condition selection
print(ww2_cas[ww2_cas > 4000000])

# booling
'USA' in ww2_cas

# name
ww2_cas.name = "World War 2 Casualties"

# index
ww2_cas.index.name = 'Countries'

ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64
400000
USSR       8700000
Germany    4300000
dtype: int64

Countries
USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
Name: World War 2 Casualties, dtype: int64

In [5]:
# convert Series into Python dictionary
ww2_dict = ww2_cas.to_dict()
print(ww2_dict)

# convert Python dictionary into Series
ww2 = Series(ww2_dict)
ww2

{'USSR': 8700000, 'Germany': 4300000, 'China': 3000000, 'Japan': 2100000, 'USA': 400000}

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [6]:
#Passing a dictionary the index will have the dict keys in order
countries = ['China','Germany','Japan','USA','USSR','Argentina']
#Lets redefine a Series
obj2 = Series(ww2_dict,index=countries)
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [7]:
# We can use isnull and notnull to find missing data
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

### checking missing data

In [8]:
# We can use isnull and notnull to find missing data
a = pd.isnull(obj2)
a[a.values]

Argentina    True
dtype: bool

In [9]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [10]:
# add and pandas automatically aligns data by index
ww2_cas + obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64